@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
  color: rgb(38 50 56 / var(--tw-text-opacity));
}

.text-light-primary {
  color: #ffffff;
}

.text-secondary {
  color: rgb(158 158 158 / var(--tw-text-opacity));
}

.text-light-secondary {
  color: #cccccc;
}

.text-highlight {
  color: rgb(245 124 0 / var(--tw-text-opacity))
}

.text-reverse-highlight {
  background-color: #f8702c;
  color: black;
  font-weight: bolder;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.text-link {
  /* under_line */
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}